*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    background: rgb(4, 4, 59);
    overflow: hidden;
}


.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background: white;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    background: aqua;
    transition: 0.5s linear;
}

.menu{
    position: absolute;
    cursor: pointer;
    top: 10px;
}

.active{
    left: 0;
    top: 0;
    width: 130px;
    height: 100vh;
    background: whitesmoke;
}


.link{
    display: none;
    position: relative;
    margin: 0px;
    top: 0px;
    justify-content: space-between;
}

.historylink{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-bottom: grey 1px;
    text-decoration: none;
}


.themebtn{
    display: flex;
    position: absolute;
    padding: 10px;
    border: none;
    background: black;
    border-radius: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: white;
}


.lightmode{
    display: none;
}

.active2{
    display: inline;
}


.close-tab{
    position: absolute;
    top: 5px;
    left: 100px;
    display: none;
    cursor: pointer;
}



.firsth1{
    margin: 10px;
    padding: 20px;
    color: white;
}

.secondh1{
    color: aqua;
}

p {
    font-weight: 600;
    text-decoration: underline;
    margin: 50px;
    color: white;
}

.div{
    margin: 20px;
    padding: 20px;
    background: rgb(77, 76, 76);
    color: white;
    border-radius: 10px;
}

.div2{
    margin: 20px;
    padding: 20px;
    background: rgb(77, 76, 76);
    color: white;
    border-radius: 10px;
}


.generaterbtn{
    margin: 20px;
    padding: 20px;
    font-size: large;
    color: black;
    font-weight: bold;
    background: aqua;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s linear;
}

@media(max-width: 900px){
    .menu-bar{
        width: 30px;
    }
    .active{
        width: 100px;
    }

    .close-tab{
        left: 80px;
    }

    .container{
        margin: 30px;
    }
}


