*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    background: rgb(4, 4, 59);
}

.container{
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: black;
    box-shadow: 10px 10px 10px white;
    width: 350px;
}


.firsth1{
    margin: 10px;
    padding: 20px;
    color: white;
}

.secondh1{
    color: aqua;
}

.container p {
    color: white;
}

.div{
    margin: 20px;
    padding: 20px;
    background: rgb(77, 76, 76);
    color: white;
    border-radius: 10px;
}

.div2{
    margin: 20px;
    padding: 20px;
    background: rgb(77, 76, 76);
    color: white;
    border-radius: 10px;
}


.generaterbtn{
    margin: 20px;
    padding: 20px;
    font-size: large;
    color: whitesmoke;
    background: linear-gradient(red,blue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

